<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengsu.bhyy.core.repository.SysMenuRepository">
  <resultMap id="BaseResultMap" type="com.hengsu.bhyy.core.entity.SysMenu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="controller" jdbcType="VARCHAR" property="controller" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, url, parent_id, rank, icon, `key`, controller
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hengsu.bhyy.core.entity.SysMenu">
    insert into sys_menu (id, name, url, 
      parent_id, rank, icon, 
      key, controller)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT}, #{rank,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, 
      #{key,jdbcType=VARCHAR}, #{controller,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hengsu.bhyy.core.entity.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="key != null">
        key,
      </if>
      <if test="controller != null">
        controller,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="controller != null">
        #{controller,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hengsu.bhyy.core.entity.SysMenu">
    update sys_menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="controller != null">
        controller = #{controller,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hengsu.bhyy.core.entity.SysMenu">
    update sys_menu
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      rank = #{rank,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      controller = #{controller,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCount" parameterType="com.hengsu.bhyy.core.entity.SysMenu" resultType="java.lang.Integer">
    select count(*) from sys_menu
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="url != null">
        and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null">
        and parent_id = #{parentId,jdbcType=BIGINT}
      </if>
      <if test="rank != null">
        and rank = #{rank,jdbcType=INTEGER}
      </if>
      <if test="icon != null">
        and icon = #{icon,jdbcType=VARCHAR}
      </if>
      <if test="key != null">
        and key = #{key,jdbcType=VARCHAR}
      </if>
      <if test="controller != null">
        and controller = #{controller,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu where 1 = 1 
    <if test="param1.id != null">
      and id = #{param1.id,jdbcType=BIGINT}
    </if>
    <if test="param1.name != null">
      and name = #{param1.name,jdbcType=VARCHAR}
    </if>
    <if test="param1.url != null">
      and url = #{param1.url,jdbcType=VARCHAR}
    </if>
    <if test="param1.parentId != null">
      and parent_id = #{param1.parentId,jdbcType=BIGINT}
    </if>
    <if test="param1.rank != null">
      and rank = #{param1.rank,jdbcType=INTEGER}
    </if>
    <if test="param1.icon != null">
      and icon = #{param1.icon,jdbcType=VARCHAR}
    </if>
    <if test="param1.key != null">
      and key = #{param1.key,jdbcType=VARCHAR}
    </if>
    <if test="param1.controller != null">
      and controller = #{param1.controller,jdbcType=VARCHAR}
    </if>
    <if test="param2.sort != null">
      order by 
      <foreach collection="param2.sort" item="order" separator=",">
        ${order.property} ${order.direction}
      </foreach>
    </if>
    <if test="param2.offset >= 0 and param2.pageSize > 0">
      limit ${param2.offset}, ${param2.pageSize}
    </if>
  </select>
</mapper>